* {
margin: 0;
padding: 0;
}
.container {
width: 1140px;
margin: 0 auto;
}
.main{
  display:flex;
}
.footer_info {
display: flex;
justify-content: space-between;
}
.card{
  width: 359px;
}
 .card-box{
display:flex;
justify-content:space-between;
}
.header ul{
  display:flex;
  justify-content:space-between;
}
.body {
    font-family: sans-serif;
}
.par {
    font-size: 16px;
     line-height: 26px;
    color: #1F3F68;
}
.heading {
    width:510px;
    font-size: 64px;
     color: #1F3F68;
}
.headingTwo {
    font-weight: 500;
    font-size: 44px;
     text-align: center;
}
.headingThree{
    font-size: 36px;
     text-align: center;
}
.headingFour {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}
.field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
     border-radius: 10px;
     opacity: 0.4;
}
.button{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
     text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}