/*---НЕ СТИЛИЗОВАНО---*/    


/*рамка предыдущей области, создана для наглядности*/
/*.page_fullwidth_picture {
  border: 5px solid rgb(209, 0, 0);
    margin: 10px 0%;
    padding: 0% 0%;
}*/

/*
.page_content {
   background-color: rgba(205, 92, 92, 0.13); 
   margin-bottom: 30px;
   margin-top: 30px;
   max-width: 1600px;
}*/

