# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\java_spring_1\130520201\12022020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
